<div class="sawwonpage">
    <h1 class="won">
        <%= "Congratulations!" %>
    </h1>
    <h3 class="congrats">
        <%= "You chose correctly and you Are Still Alive. Most People Are So Ungrateful To Be Alive... But Not You, Not Anymore!" %>
    </h3>
</div>