<div class="secret">
    <% if @current_user.present? %>
        <h1 class = "sawtext">Hello <%= @current_user.name %>,</h1>
    <% else %>
        <h1 class = "sawtext">Hello, </h1> 
    <% end%>
    <h3 class = "sawtext">I'm sure you're wondering why you're here. You deny culpability, no doubt, for the circumstances in which you find yourself. However salvation can be yours. Select a number between 1 and 10, the choice is yours, but failure to make the right choice could result in death.</h3>
     <form action="/secret/answer" method="get"> 
        <div class="sttrek">
            <button class = "saw_button" name="num" type="submit" value=1>1</button>
            <button class = "saw_button" name="num" type="submit" value=2>2</button>
            <button class = "saw_button" name="num" type="submit" value=3>3</button>
            <button class = "saw_button" name="num" type="submit" value=4>4</button>
            <button class = "saw_button" name="num" type="submit" value=5>5</button>
            <button class = "saw_button" name="num" type="submit" value=6>6</button>
            <button class = "saw_button" name="num" type="submit" value=7>7</button>
            <button class = "saw_button" name="num" type="submit" value=8>8</button>
            <button class = "saw_button" name="num" type="submit" value=9>8</button>
            <button class = "saw_button" name="num" type="submit" value=10>10</button>
        </div>
    </form>
    <%= image_tag "secrethp.gif", :class => 'rules' %>
</div>


<%# <form action="/secret/answer"> 
        <label class="reducelabel"><input type="search" name="num" placeholder="1, 2,... 8, 9" required autofocus></label>
        <button >Live Or Die. Make Your Choice</button>
    </form> %>