<div class="secret">
<% if @current_user.present? %>
    <h1>Hello <%= @current_user.name %>, I want to play a game</h1>
<% else %>
    <h3>Hello, I want to play a game</h3> 
<% end%>

 <form action="/secret/answer"> 
    <p>You have not lived a full life and taken short cuts every chance you got. Today you will have a chance to let go of your sins. Guess a random number between 1 and 10 and we will let fate decide if you survive. Live Or Die. Make Your Choice.</p>
        <label><input type="search" name="num" placeholder="1, 2,... 8, 9" required autofocus></label>
        <button>Play</button>
</form>
</div>
