<div>
<h1 class="loser">
    <%= "You Lose!" %>
</h1>

<img src="https://media3.giphy.com/media/bFyy1ndiNFkic/giphy.gif?cid=6104955elmswzza3hkcuwpowd0mx19bn3ejpvblr6ytoqnwt&rid=giphy.gif&ct=g" alt="Scary Clown">
</div>