<div class = "loser" >
<h1 class="lost">
    <%= "You Lose!" %>
</h1>

<img class ="saw", src="https://i.pinimg.com/originals/78/32/d9/7832d9cf69cb94c9b64b2bdb4d4205d5.gif" alt="Head crush">
<%# <img src="https://giffiles.alphacoders.com/186/186541.gif" alt="Chest removed"> %>
</div>