<div class="swbg">
    <h2 class = "sw">
        <% if @current_user.present? %>
            <%= "#{@current_user.name}, this answer you have received:" %>
        <% else %>
            <%= "This answer you have received:" %>
        <% end %>
    </h2>
    <h1 class="dash">------------------------</h1>
    <h2>
        <%= @result %>
    </h2>
</div>
