 <div class="magic">
 <h1>Magic 8 Ball - Star Wars Edition</h1>

 <div class="form">
 <form action="/magic/answer"> 
        <label class = "form-label">
            <input class = "form-control", type="search" name="question" placeholder="Ask your question here" required autofocus>
        </label>
        <button>Submit</button>
</form>
</div>
</div>
