 <div class="magic">
 <h1>Try the magic 8 ball to answer your question</h1>

 <form action="/magic/answer"> 
        <label>
            Ask a question and press enter to get an answer:
            <input type="search" name="question" placeholder="Will i be a good jedi" required autofocus>
        </label>
        <button>Answer</button>
</form>
</div>
