<div class="movies">
    <h1>All movies</h1>

<%# add search functionality for finding movies quickly %>
<%# <form class="d-flex" role="search">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form> %>
    <section class="mp">
    <% @movies.each do |movie| %>
        <%= link_to image_tag(movie.image, :class => 'thumb' ), movie %>
    <% end %>
    </section>  

    <div class="control">
        <% if @current_user.present?%>
            <% if @current_user.admin? %>
                <%= link_to  'Add new movies', new_movie_path, :class => 'links' %>
            <% end %>
        <% end %>
    </div>
</div>