<div class="homepage">
    <div class="container">
    <p class="text-center">Welcome to my page where you can play movie themed games or browse movies to see user reviews and if you sign up to an account, you can create and post your own reviews for the movies of your choice. </p>
        <div class="row justify-content-around">
            <div class="col-4">
                <h2>Review Movies</h2>
                <%= link_to movies_path do %>
                    <%= image_tag "https://th.bing.com/th/id/OIP.bnFi87faJToMxTXny-FAKAHaEK?pid=ImgDet&rs=1" , :class => 'poster' %>
                <% end %>
            </div>
            <div class="col-4">
                <h2>Play Games</h2>
                <%= link_to games_path do %>
                    <%= image_tag "https://wallpapercave.com/wp/wp3748776.jpg", :class => 'poster' %>
                <% end %>
            </div>
        </div>
    </div>
</div>