<div class="row">
    <div class="col-md-6">
        <h2>Movies</h2>
        <%= link_to movies_path do %>
            <%= image_tag "https://th.bing.com/th/id/OIP.bnFi87faJToMxTXny-FAKAHaEK?pid=ImgDet&rs=1" , :class => 'thumb' %>
        <% end %>
    </div>

    <div class="col-md-6">
        <h2>Games</h2>
        <%= link_to games_path do %>
            <%= image_tag "https://wallpapercave.com/wp/wp3748776.jpg", :class => 'thumb' %>
        <% end %>
    </div>
</div>