<h1>Games Homepage</h1>
 <nav>
      <a href="/magic">Magic 8 Ball</a>
      <a href="/secret">Guess the Number</a>
      <a href="/rockpaperscissor">Rock, Paper, Scissors, Lizard, Spock</a>
    </nav>
