<div class="trek">
    <h2 class = trekanswer>
        <%= @result %>
    </h2>
    <%= image_tag "https://media4.giphy.com/media/6627mrh22kRAAKNuC2/giphy.gif?cid=ecf05e47r2rlmi1gzgnxtmx0iu06nqdwrughrrkox40kc9o8&rid=giphy.gif&ct=g", :class => 'fly' %>
</div>
<div class = "trek">
    
