 <div class="rock">
 <h1>Play Rock, Paper, Scissors, Lizards or Spock</h1>

 <form action="/rockpaperscissor/answer"> 
        <label>
            Choose Rock, Paper, Scissors, Lizard or Spock and press enter:
            <input type="search" name="throw" placeholder="answer" required autofocus>
        </label>
        <button>Play</button>
</form>

<p>
<ul>Rules of engagement:
<li>Rock crushes Scissors</li>
<li>Scissors cut Paper</li>
<li>Paper covers Rock</li>
<li>Rock crushes Lizard</li>
<li>Lizard poisons Spock</li>
<li>Spock smashes Scissors</li>
<li>Scissors decapitate Lizard</li>
<li>Lizard eats Paper</li>
<li>Paper disproves Spock</li>
<li>Spock vaporizes Rock</li>
</ul>
</p>
</div>
