 <div class="rock">
    <h1>Can you win a game of chance, choose a weapon and see</h1>
    <form action="/rockpaperscissor/answer" method="get"> 
        <div class="icontrek">
            <div class="choice">
            <img class = "icon" src = "/assets/therock.png" alt = "rock">
            <button class = "st" name="throw" type="submit" value="Rock">Rock</button>
            </div>
            <div class="choice">
            <img class = "icon" src = "/assets/paper.png" alt = "paper">
            <button class = "st" name="throw" type="submit" value="Paper">Paper</button>
            </div>
            <div class="choice">
            <img class = "icon" src = "/assets/scissors1.png" alt = "scissors">
            <button class = "st" name="throw" type="submit" value="Scissors">Scissors</button>
            </div>
            <div class="choice">
            <img class = "icon" src = "/assets/lizard3.png" alt = "lizard">
            <button class = "st" name="throw" type="submit" value="Lizard">Lizard</button>
            </div>
            <div class="choice">
            <img class = "icon" src = "/assets/spock4.jpg" alt = "spock">
            <button class = "st" name="throw" type="submit" value="Spock">Spock</button>
            </div>
        </div>
    </form>
    <h3 class ="strules">Win Conditions</h3>
    <%= image_tag "https://qph.fs.quoracdn.net/main-qimg-56edbfe92273c68f6949bddddc08d19a-c", :class => 'rules' %>
</div>