* {
    font: arial;
}
body {
    background: #800020;
    /* background-image: url("/admin1.jpg"); */
}
li {
    color: white;
    list-style: none;
}
.container {
    /* max-width: 960px; */
    margin: 0 auto;
    height: 100vh;
    padding-top: 50px;
}
.movie_details {
    padding-top: 15px;
}
.movie_titles {
    color: chartreuse;
    padding-top: 20px;
}

.links{
    color: white;
    text-decoration: solid;
    display: block;
    margin: 10px auto;
    font-size: 30px;
}
div.form {
    width: 50%;
    margin: 0 auto;
}
.yoda {
    width: 100%;
}
a {
    margin: 9.5;
}
.thumb {
    height: 15em;
    width: 10em;
}
.thumb1{
    height: 15em;
    width: 10em;
    margin-left: 30px;
}
.poster {
    height: 15em;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    /* box-shadow: 0 4px 8px 0 rgba(253, 253, 253, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19); */
    /* padding: 5px; */
}
.poster:hover {
    box-shadow: 0 5px 10px 0 rgba(253, 253, 253, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}
.rules {
    display: block;
    margin: 10px auto;
    height: 60vh;
    width: auto;
}
.feature {
    height: 90vh;
    padding-bottom: 10px;
    padding-top: 20px;
}
label {
    display: block;
}
  h1, h2, h3 {
    color: white;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  h1 {
    padding-top: 15px;
  }
  h3 {
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .strules {
    padding-top: 0;
  }
  .text-center{
    color: white;
  }
  .controls {
    padding-top: 10px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
  }
  .preview {
    border: 1px solid white ;
    border-radius: 5px;
    color: white;
    padding: 5px;
  }
  .saw {
    width: 50vw;
    margin: 4em auto;
    height: auto;
  }
  .loser {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("https://image.tmdb.org/t/p/original/eSwaougbenYFP4NFTccJYGJnnK8.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

  }
  .lost {
    color: white;
    position: absolute;
    font-size: 100px;
    padding-bottom: 10px;
    text-shadow: 1px 1px 2px darkred, 0 0 25px #800020, 0 0 5px red;
    top: 150px
  }
  .mp {
    max-width: 1146px;
    margin: 0 auto;
  }
  .adminpage {
    background-image: url(https://c4.wallpaperflare.com/wallpaper/771/266/483/safe-deposit-box-wallpaper-preview.jpg);
    background-position: cover;
    background-repeat: no-repeat;
  }
.survive {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.sawwonpage {
    background-image: url("https://thumbs.gfycat.com/PerfectYawningElk-max-1mb.gif");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 125vh;
}
.congrats {
    padding: 0;
    padding-left: 270px;
    padding-right: 270px;
}
h1.won {
    color: white;
    font-size: 60px;
    padding-top: 100px;
    text-shadow: 1px 1px 2px darkred, 0 0 25px #800020, 0 0 5px red;
}
.dash {
    margin: 0;
    padding: 0

}
.magic_title {
    padding-top: 40px;
    margin-bottom: 0;
}
.emails {
    margin-left: 40px;
    color: black;
}
p {
    color: white;
    padding: 10px 20px 10px 20px;
}

.adminh1 {
    color: black;
}
.reviews {

}
label {
    /* width: 50%; */
    margin: 0 auto;
}
.reducelabel{
        width: 50%;
        margin: 0 auto;
}
input {
    width: 100%;
}
button {
    color: white;
    background-color: #dc3545;
    border: 1px solid black;
    border-radius: 5px;
    width: 30%;
    display: block;
    margin: 15px auto;
}
button:hover {
    color: #fff;
    background-color: #bb2d3b;
    box-shadow: 0 12px 16px 0 rgba(139, 61, 61, 0.24), 0 17px 50px 0 rgba(147, 46, 46, 0.19)
}
select {
    width: 100%;
    word-spacing: normal;
    margin: 0 auto;
    display: block;
    text-align: center;
    padding: 0.375rem 0.75rem;
    border-radius: 0.375rem;
}
.st {
    width: 100%;
}
.sttrek {
    display: flex;
    justify-content: space-around;
}
.saw_button {
    width: 8%;
    margin: 15px 0;
}
.choice {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.icontrek {
    display: flex;
    justify-content: space-around;
}
.sawtext, h1.sawtext {
    color: black;
    text-align: center;
    margin-bottom: 0;
}
h3.sawtext {
    padding: 0;
}
.sw {
    padding-top: 100px;
}
.custom_label {
    color: white;
}
.error {
    padding: 0;
    margin: 0;
}
.btn.btn-success {
    margin-top: 30px;
}
/* .loser {
    position: relative;
    width: 100%;
    max-width: 400px;
  }
  
  .saw {
    width: 100%;
    height: auto;
  }
  
  .lost {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    text-align: center;
  } */