* {
    font: arial;
}
body {
    background: #800020;
}
li {
    color: white;
    list-style: none;
}
ul {
    /* padding-left: 5px; */
    padding-top: 15px;
}
.container {
    /* max-width: 960px; */
    margin: 0 auto;
    height: 100vh;
    padding-top: 50px;
}
.homepage {
    background-image: url("https://wallpapercave.com/wp/wp2411501.jpg");
}
.gameshp {
    background-image: url("https://wallpapercave.com/wp/wp6004876.jpg");
}
.magic {
    background-image: url("https://images3.alphacoders.com/114/thumb-1920-11439.png");
}
.rock {
    background-image: url("https://th.bing.com/th/id/OIP.sYUQO3y3HDKaLB49FDoFiQHaEK?w=333&h=187&c=7&r=0&o=5&dpr=2&pid=1.7");
}
.secret {
    background-image: url("https://media.giphy.com/media/NARhtERAbRbkQ/giphy.gif");
}
.movies {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    background-image: url("https://th.bing.com/th/id/R.2362fae216bca4b64c66a0dc45922e3e?rik=OIYU%2bEMH0dYGPw&riu=http%3a%2f%2fbesthqwallpapers.com%2fUploads%2f25-2-2021%2f157484%2fthumb2-4k-filmstrip-textures-vector-backgrounds-grunge-backgrounds-cinematograph.jpg&ehk=hDR9XAo0KfIIcSfPKUP%2f0D%2bkyExz6KhnNdHe%2fMpamBs%3d&risl=&pid=ImgRaw&r=0");
}
.movie_page {
    display: flex;
    justify-content: center;
}
.movie {
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    Height: 100vh;
    background-image: url("https://ak5.picdn.net/shutterstock/videos/14759545/thumb/1.jpg")
}
.movie_titles {
    color: chartreuse;
    padding-top: 20px;
}
.homepage, .gameshp, .magic, .secret, .rock, .adminpage {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 125vh;
}
.links{
    color: white;
    text-decoration: solid;
    margin: auto 20px;
}
div.form {
    width: 75%;
    margin: 50px auto;
}
a {
    margin: 9.5;
}
.thumb {
    height: 15em;
    width: 10em;
}
.poster {
    height: 15em;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    /* box-shadow: 0 4px 8px 0 rgba(253, 253, 253, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19); */
    /* padding: 5px; */
}
.poster:hover {
    box-shadow: 0 5px 10px 0 rgba(253, 253, 253, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}
.feature {
    height: 90vh;
    padding-bottom: 10px;
    padding-top: 20px;
}
label {
    display: block;
}
  h1, h2, h3 {
    color: white;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  h1 {
    padding-top: 15px;
  }
  h3 {
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .text-center{
    color: white;
  }
  .controls {
    padding-top: 10px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
  }
  .preview {
    border: 1px solid white ;
    border-radius: 5px;
    color: white;
    padding: 5px;
  }
  .saw {
    width: 50vw;
    margin: 4em auto;
    height: auto;
  }
  .loser {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("https://image.tmdb.org/t/p/original/eSwaougbenYFP4NFTccJYGJnnK8.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

  }
  .lost {
    color: white;
    position: absolute;
    font-size: 100px;
    padding-bottom: 10px;
    text-shadow: 1px 1px 2px darkred, 0 0 25px #800020, 0 0 5px red;
    top: 150px
  }
  .mp {
    max-width: 1146px;
    margin: 0 auto;
  }
  .adminpage {
    background-color: bisque;
  }
.survive {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.sawwonpage {
    background-image: url("https://static1.srcdn.com/wordpress/wp-content/uploads/2020/02/Saw-Game-Over.jpg?q=50&fit=crop&w=1500&dpr=1.5");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 125vh;
}
.congrats {
    padding: 0;
    padding-left: 270px;
    padding-right: 270px;
}
h1.won {
    color: white;
    font-size: 60px;
    padding-top: 100px;
    text-shadow: 1px 1px 2px darkred, 0 0 25px #800020, 0 0 5px red;
}
.dash {
    margin: 0;
    padding: 0

}
